odoo-addon-fieldservice_order_equipment_line @ git+https://github.com/OCA/field-service.git@refs/pull/1625/head#subdirectory=fieldservice_order_equipment_line
odoo-addon-fieldservice_equipment_preventive @ git+https://github.com/OCA/field-service.git@refs/pull/1626/head#subdirectory=fieldservice_equipment_preventive
