odoo-addon-agreement @ git+https://github.com/OCA/agreement.git@refs/pull/35/head#subdirectory=agreement
odoo-addon-agreement_serviceprofile @ git+https://github.com/OCA/agreement.git@refs/pull/39/head#subdirectory=agreement_serviceprofile
odoo-addon-agreement_legal @ git+https://github.com/OCA/agreement.git@refs/pull/40/head#subdirectory=agreement_legal
