odoo-addon-fieldservice_purchase_request @ git+https://github.com/OCA/field-service.git@refs/pull/1598/head#subdirectory=fieldservice_purchase_request
odoo-addon-fieldservice_equipment_order_history @ git+https://github.com/OCA/field-service.git@refs/pull/1623/head#subdirectory=fieldservice_equipment_order_history
