<odoo>
    <menuitem
        id="menu_fsm_vehicle"
        name="Vehicles"
        action="action_fsm_vehicle"
        parent="fieldservice.data"
        sequence="40"
        groups="fieldservice_vehicle.group_fsm_vehicle"
    />
    <menuitem
        id="menu_fsm_report_vehicle"
        name="Vehicles"
        action="action_fsm_report_vehicle"
        parent="fieldservice.reporting"
        sequence="50"
        groups="fieldservice_vehicle.group_fsm_vehicle"
    />
</odoo>
