<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_fsm_vehicle"
              name="Vehicles"
              action="action_fsm_vehicle"
              parent="data"
              sequence="40"
              groups="group_fsm_vehicle"/>

    <menuitem id="menu_fsm_report_vehicle"
              name="Vehicles"
              action="action_fsm_report_vehicle"
              parent="reporting"
              sequence="50"
              groups="group_fsm_vehicle"/>

</odoo>
