.stages_list{
    float: right;
    width: auto;
}
.o_statusbar_status.o_field_widget.o_field_empty{
    display: block !important;
}
.o_statusbar_status.o_field_widget.o_field_empty > .stage {
    float: left;
}
.o_statusbar_status.o_field_widget.o_field_empty div.active {
    color: #7c7bad;
    background-color: #f9f9f9;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:last-child{
    border-left:none;
}
