<odoo>
    <menuitem
        id="menu_res_territory"
        name="Territories"
        action="action_res_territory"
        parent="contacts.menu_localisation"
        sequence="20"
    />
    <menuitem
        id="menu_res_branch"
        name="Branches"
        action="action_res_branch"
        parent="contacts.menu_localisation"
        sequence="30"
    />
    <menuitem
        id="menu_res_district"
        name="Districts"
        action="action_res_district"
        parent="contacts.menu_localisation"
        sequence="40"
    />
    <menuitem
        id="menu_res_region"
        name="Regions"
        action="action_res_region"
        parent="contacts.menu_localisation"
        sequence="50"
    />
</odoo>
