/*User Filter Design*/
#user_filer{
    &.o_filter_condition select,.o_searchview_extended_prop_value,.o_datepicker,.o_searchview_extended_prop_value input{
        display: inline !important;
        width: 150px !important;
    }
    > li{
        list-style: none;
    }
}
