.ticket_website_form {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background-color: #f8f8f8;
}
.ticket-submit-form div{
  margin-bottom: 5px;
}
.ticket-submit-form span{
    font-weight: 600;
}
.form-footer button{
    margin-left: 45%;
    float: left;
}
.ticket_website_form{

}