<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="reporting"
                name="Relations"
                sequence="40"
                parent="fieldservice.config"
                action="partner_multi_relation.action_res_partner_relation_all"
                groups="fieldservice.group_fsm_dispatcher"/>
</odoo>
