<?xml version="1.0" encoding="utf-8" ?>
<odoo>

  <!-- Copyright 2025 Patryk Pyczko (APSL-Nagarro)<ppyczko@apsl.net>
       License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). -->

  <!-- Operations -->
  <menuitem
        id="menu_stock_move_dayroute"
        name="Delivery Quantities"
        action="action_stock_move_dayroute"
        parent="fieldservice.operations"
        sequence="10"
    />

</odoo>
